[submodule "RAC"]
	path = RAC
	url = https://cikelengfeng@github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "PasswordGen"]
	path = PasswordGen
	url = https://github.com/rfunk82/RFPasswordGenerator.git
